@model List<TiendaRegalos.Models.Producto>
<div id
     ="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="Index.cshtml"><i class="fa fa-home"></i></a></li>
            <li><a href="search.html">Busqueda</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">Resultado para -  @ViewBag.clave</h1>
                <label>Search Criteria</label>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Keywords" value="Buscar" name="search">
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" name="category_id">
                            <option value="0">All Categories</option>
                            <option value="59">Clothing</option>
                            <option value="61">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Men</option>
                            <option value="93">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories</option>
                            <option value="60">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Women</option>
                            <option value="62">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Girls</option>
                            <option value="98">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories</option>
                            <option value="97">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories New</option>
                            <option value="99">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories New</option>
                            <option value="63">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Boys</option>
                            <option value="64">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baby</option>
                            <option value="65">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accessories</option>
                            <option value="120">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="66">Electronics</option>
                            <option value="67">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Laptops</option>
                            <option value="100">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="102">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="101">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories New</option>
                            <option value="68">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desktops</option>
                            <option value="103">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="104">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories New</option>
                            <option value="105">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories New</option>
                            <option value="33">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cameras</option>
                            <option value="110">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="69">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile Phones</option>
                            <option value="106">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="107">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TV &amp; Home Audio</option>
                            <option value="108">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="109">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories New</option>
                            <option value="71">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MP3 Players</option>
                            <option value="20">Shoes</option>
                            <option value="27">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Men</option>
                            <option value="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Women</option>
                            <option value="115">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="116">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories</option>
                            <option value="42">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Girls</option>
                            <option value="41">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Boys</option>
                            <option value="40">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baby</option>
                            <option value="72">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accessories</option>
                            <option value="117">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="118">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="119">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories</option>
                            <option value="18">Watches</option>
                            <option value="46">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Men's Watches</option>
                            <option value="45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Women's Watches</option>
                            <option value="47">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kids' Watches</option>
                            <option value="37">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accessories</option>
                            <option value="25">Jewellery</option>
                            <option value="29">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Silver</option>
                            <option value="111">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="112">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="28">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gold</option>
                            <option value="35">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 1</option>
                            <option value="36">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 2</option>
                            <option value="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diamond</option>
                            <option value="31">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pearl</option>
                            <option value="113">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="32">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Men's Jewellery</option>
                            <option value="43">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Children's Jewellery</option>
                            <option value="114">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Sub Categories</option>
                            <option value="17">Health &amp; Beauty</option>
                            <option value="57">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Perfumes</option>
                            <option value="24">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Makeup</option>
                            <option value="44">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sun Care</option>
                            <option value="48">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skin Care</option>
                            <option value="49">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eye Care</option>
                            <option value="50">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hair Care</option>
                            <option value="34">Kids &amp; Babies</option>
                            <option value="51">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Toys</option>
                            <option value="52">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Games</option>
                            <option value="58">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 25</option>
                            <option value="53">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puzzles</option>
                            <option value="54">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hobbies</option>
                            <option value="55">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Strollers</option>
                            <option value="56">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Health &amp; Safety</option>
                            <option value="38">Sports</option>
                            <option value="39">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cycling</option>
                            <option value="73">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Running</option>
                            <option value="74">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Swimming</option>
                            <option value="75">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Football</option>
                            <option value="76">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Golf</option>
                            <option value="77">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Windsurfing</option>
                            <option value="78">Home &amp; Garden</option>
                            <option value="79">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bedding</option>
                            <option value="80">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food</option>
                            <option value="81">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Furniture</option>
                            <option value="82">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kitchen</option>
                            <option value="83">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lighting</option>
                            <option value="84">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tools</option>
                            <option value="85">Wines &amp; Spirits</option>
                            <option value="86">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wine</option>
                            <option value="87">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Whiskey</option>
                            <option value="88">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vodka</option>
                            <option value="89">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Liqueurs</option>
                            <option value="90">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beer</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="button" class="btn btn-primary" id="button-search" value="Buscar">
                    </div>
                </div>
                <br>
                <div class="product-filter">
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            <div class="btn-group">
                                <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="Lista"><i class="fa fa-th-list"></i></button>
                                <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Normal"><i class="fa fa-th"></i></button>
                            </div>
                            <a href="compare.html" id="compare-total">Vistas de Productos</a>
                        </div>
                     
                        <div class="col-sm-1 text-right">
                            <label class="control-label" for="input-limit">Precios:</label>
                        </div>
                        <div class="col-sm-2 text-right">
                            <select id="input-limit" class="form-control">
                                <option value="" selected="selected">20</option>
                                <option value="">25</option>
                                <option value="">50</option>
                                <option value="">75</option>
                                <option value="">100</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                
                <div class="row products-category">
                    @foreach (var item in Model)
                    {
                        var imagen = @item.ProductoImagen.FirstOrDefault();
                        string img = imagen == null ? "no_disponible.png" : imagen.Imagen;

                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image"><a href="product.html"><img width="330" height="220" src="~/ImgProductos/@img" class="img-responsive" /></a></div>
                                <div>
                                    <div class="caption">
                                        <h4><a href="product.html">@item.Denominacion</a></h4>
                                        <p class="description">
                                            @item.Descripcion
                                        </p>
                                        <p class="price"> S/. @item.Precio <span class="price-tax">Ex Tax: $100.00</span> </p>
                                    </div>
                                    <div class="button-group">
                                        <button class="btn-primary" type="button" onClick="AgregarCarrito(@item.ProductoId, '@item.Denominacion', '@img', @item.Precio)"><span>Añadir al carrito</span></button>
                                        <div class="add-to-links">
                                            <button type="button" data-toggle="tooltip" title="Lista de deseos" onClick=""><i class="fa fa-heart"></i> <span>Add to Wish List</span></button>
                                            <button type="button" data-toggle="tooltip" title="Comparar producto" onClick=""><i class="fa fa-exchange"></i> <span>Compare this Product</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="row">
                    <div class="col-sm-6 text-left">
                        <ul class="pagination">
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">&gt;</a></li>
                            <li><a href="#">&gt;|</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right">Showing 1 to 12 of 15 (2 Pages)</div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>




