<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/image/favicon.png" rel="icon" />
    <title>ZafiroShop</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="~/js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/css/stylesheet-skin2.css" />
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Droid+Sans' type='text/css'>
    <!-- CSS Part End-->
</head>
<body>
    <div class="wrapper-wide">
        <div id="header">
            <!-- Top Bar Start-->
            <nav id="top" class="htop">
                <div class="container">
                    <div class="row">
                        <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify"></i></span>
                        <div class="pull-left flip left-top">
                            <div class="links">
                                <ul>
                                    <li class="mobile"><i class="fa fa-phone"></i>+91 9898777656</li>
                                    <li class="email"><a href="mailto:info@marketshop.com"><i class="fa fa-envelope"></i>ZafiroShop@gmail.com</a></li>
                                    <li class="wrap_custom_block hidden-sm hidden-xs">


                                    </li>
                                </ul>
                            </div>
                            <div id="language" class="btn-group">
                                <button class="btn-link dropdown-toggle" data-toggle="dropdown"> <span> <img src="~/image/flags/pe.png" alt="Perú" title="Perú">Perú <i class="fa fa-caret-down"></i></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="btn btn-link btn-block language-select" type="button" name="GB"><img src="~/image/flags/pe.png" alt="Perú" title="Perú" /> Perú</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-link btn-block language-select" type="button" name="GB"><img src="~/image/flags/us.png" alt="English" title="English" /> English</button>
                                    </li>
                                </ul>
                            </div>
                            <div id="currency" class="btn-group">
                                <button class="btn-link dropdown-toggle" data-toggle="dropdown"> <span> S/. PEN <i class="fa fa-caret-down"></i></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="currency-select btn btn-link btn-block" type="button" name="EUR">€ Euro</button>
                                    </li>
                                    <li>
                                        <button class="currency-select btn btn-link btn-block" type="button" name="PEN">S/. Soles</button>
                                    </li>
                                    <li>
                                        <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US Dollar</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="top-links" class="nav pull-right flip">
                            <ul>
                                <li><a href="login.html">Ingresar</a></li>
                                <li><a href="register.html">Registrarse</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Top Bar End-->
            <!-- Header Start-->
            <header class="header-row">
                <div class="container">
                    <div class="table-container">
                        <!-- Logo Start -->
                        <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
                            <div id="logo"><a href="@Url.Action("Index","Home")"><img class="img-responsive" src="~/image/logo.png" title="ZafiroShop" alt="ZafiroShop" /></a></div>
                        </div>
                        <!-- Logo End -->
                        <!-- Mini Cart Start-->
                        <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div id="cart">
                                <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle">
                                    <span class="cart-icon pull-left flip"></span>
                                    <span id="cart-total" > <span id="nroProductosCarrito">item(s) </span> - <span id="totalCompraCarrito">S/. 0.00</span> </span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                  
                                    </li>
                                    <li>
                                        <div id="itemcarrito"></div>
                                        <div>
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-right"><strong>Total</strong></td>
                                                        <td id="totalCarrito" class="text-right">S/. 0.00</td>

                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p class="checkout"><a href="cart.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Ver carrito</a>&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Compra","Compra") " class="btn btn-primary"><i class="fa fa-share"></i> Comprar</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mini Cart End-->
                        <!-- Search Start-->
                        <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12 inner">
                            <div id="search" class="input-group">
                                <form class="navbar-form pull-right" action="@Url.Action("Buscar","Home")" method="get">
                                    <input type="text" class="form-control input-lg" name="id" id="navSearchInput" value="" placeholder="Buscar" />
                                    <button type="submit" class="button-search"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Search End-->
                    </div>
                </div>
            </header>
            <!-- Header End-->
            <!-- Main Menu Start-->
            <nav id="menu" class="navbar">
                <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
                <div class="container">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="home_link" title="Home"  href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="dropdown">
                                <a href="category.html">Mujer</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li>
                                            <a href="category.html">Bolso <span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li><a href="category.html">Sub Categories </a> </li>
                                                    <li><a href="category.html">Sub Categories </a> </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="category.html">Joyeria</a> </li>
                                        <li>
                                            <a href="category.html">Accesorios<span>&rsaquo;</span></a>

                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="category.html">Hombre</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li>
                                            <a href="category.html">Reloj <span>&rsaquo;</span></a>

                                        </li>
                                        <li>
                                            <a href="category.html">Accesorios <span>&rsaquo;</span></a>

                                        </li>


                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="category.html">Niños</a>
                                <div class="dropdown-menu">
                                    <ul>

                                        <li><a href="category.html">Girls</a> </li>
                                        <li><a href="category.html">Boys</a> </li>
                                        <li><a href="category.html">Baby</a> </li>
                                        <li>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="category.html">Aficiones</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li> <a href="category.html">Cocina</a></li>
                                        <li> <a href="category.html">Musica</a></li>
                                        <li> <a href="category.html">Video Juegos</a></li>
                                        <li> <a href="category.html">Deportistas</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="category.html">Dias Especiales</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li> <a href="category.html">Día de la Madre</a></li>
                                        <li> <a href="category.html">Día del Padre</a></li>
                                        <li> <a href="category.html">Quiciañera</a></li>
                                        <li> <a href="category.html">Aniversario</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="category.html">Personalizaciones</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li> <a href="category.html">Polos</a></li>
                                        <li> <a href="category.html">Peluches</a></li>
                                        <li> <a href="category.html">Joyeria</a></li>
                                        <li> <a href="category.html">Accesorios</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Main Menu End-->
        </div>
            @RenderBody()
            <!--Footer Start-->
            <footer id="footer">
                <div class="fpart-first">
                    <div class="container">
                        <div class="row">
                            <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <h5>ZafiroShop</h5>
                                <p>ZafiroShop es una empresa dedicada al comercio de articulos variados para regalos, brindando productos de calidad.</p>
                                <img alt="" src="~/image/logo-small.png">
                            </div>
                            <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <h5>Información</h5>
                                <ul>
                                    <li><a href="about-us.html">Sobre Nosotros</a></li>
                                    <li><a href="about-us.html">Delivery</a></li>
                                    <li><a href="about-us.html">Politicas de privacidad</a></li>
                                    <li><a href="about-us.html">Terminos y condiciones</a></li>
                                </ul>
                            </div>
                            <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <h5>Servicios</h5>
                                <ul>
                                    <li><a href="contact-us.html">Contactenos</a></li>
                                    <li><a href="sitemap.html">Mapa de la tienda</a></li>
                                </ul>
                            </div>
                            <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <h5>Extras</h5>
                                <ul>

                                    <li><a href="#">Vales de descuento</a></li>
                                    <li><a href="#">Afiliarse</a></li>
                                    <li><a href="#">Especiales</a></li>
                                </ul>
                            </div>
                            <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <h5>Mi cuenta</h5>
                                <ul>
                                    <li><a href="#">Mi cuenta</a></li>
                                    <li><a href="#">Historial de compras</a></li>
                                    <li><a href="#">Ofertas</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fpart-second">
                    <div class="container">
                        <div id="powered" class="clearfix">
                            <div class="powered_text pull-left flip">
                                <p>Tienda virtual ZafiroShop © 2017 | diseño By <a href="http://harnishdesign.net" target="_blank">ZafiroShop</a></p>
                            </div>
                            <div class="social pull-right flip"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/socialicons/facebook.png" alt="Facebook" title="Facebook"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/socialicons/twitter.png" alt="Twitter" title="Twitter"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/socialicons/google_plus.png" alt="Google+" title="Google+"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/socialicons/pinterest.png" alt="Pinterest" title="Pinterest"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/socialicons/rss.png" alt="RSS" title="RSS"> </a> </div>
                        </div>
                        <div class="bottom-row">
                            <div class="custom-text text-center">
                                <p>This is a CMS block. You can insert any content (HTML, Text, Images) Here.<br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                            <div class="payments_types"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/payment/payment_paypal.png" alt="paypal" title="PayPal"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/payment/payment_american.png" alt="american-express" title="American Express"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/payment/payment_2checkout.png" alt="2checkout" title="2checkout"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/payment/payment_maestro.png" alt="maestro" title="Maestro"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/payment/payment_discover.png" alt="discover" title="Discover"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/image/payment/payment_mastercard.png" alt="mastercard" title="MasterCard"></a> </div>
                        </div>
                    </div>
                </div>
                <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
            </footer>
            <!--Footer End-->
            <!-- Twitter Side Block Start -->
            <div id="twitter_footer" class="twit-right sort-order-1">
                <div class="twitter_icon"><i class="fa fa-twitter"></i></div>
                <a class="twitter-timeline" href="https://twitter.com/" data-chrome="nofooter noscrollbar transparent" data-theme="light" data-tweet-limit="2" data-related="twitterapi,twitter" data-aria-polite="assertive" data-widget-id="347621595801608192">Tweets by </a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <!-- Twitter Side Block End -->
            <!-- Facebook Side Block Start -->
            <div id="facebook" class="fb-right sort-order-2">
                <div class="facebook_icon"><i class="fa fa-facebook"></i></div>
                <div class="fb-page" data-href="https://www.facebook.com/harnishdesign/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/harnishdesign/"><a href="https://www.facebook.com/harnishdesign/">Harnish Design</a></blockquote>
                    </div>
                </div>
                <div id="fb-root"></div>
                <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
            </div>
            <!-- Facebook Side Block End -->
        </div>
   
        <!-- JS Part Start-->
        <script type="text/javascript" src="~/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.easing-1.3.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.dcjqaccordion.min.js"></script>
        <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/js/custom.js"></script>
        <!-- JS Part End-->
    <script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargaCarrito(productos);
            }
        });

        function CargaCarrito(productos) {
            var html = '';
            var total = 0;

            $("#nroProductosCarrito").text('(' + productos.length + ')');

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                html += 
                         '<table class="table">'+
                             '<tbody>'+
                               ' <tr>'+
                              '<td class="text-center"><a href="product.html"><img class="img-thumbnail" src="/ImgProductos/' + this.Imagen + '" width="70" height="50"></a></td>' +
                                                   '<td class="text-left"><a href="product.html">'+ this.Denominacion+'</a></td>' +
                                                    '<td class="text-right">x '+ this.Cantidad+'</td>'+
                                                   ' <td class="text-right">'+this.Precio+'</td>'+
                                                    '<td class="text-center"><button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button></td>'+
                                               ' </tr>'+
                                         
                                            '</tbody>'+
                                        '</table>';
            });
           
            $('#itemcarrito').html(html);

            $("#totalCompraCarrito,#totalCarrito").text('S/.' + total);

        }

                function AgregarCarrito(productoid, denominacion, imagen, precio) {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < productos.length; i++) {
                if (productos[i].ProductoId == productoid) {
                    itemActual = productos[i];
                }
            }

            if (!itemActual) {
                productos.push({ ProductoId: productoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);

            CargaCarrito(productos);

        }


    </script>
</body>
</html>

